{
  "server": {
    "ip": "192.168.167.101",
    "port": 5000,
    "db_path": "db.sqlite3",
    "db_backup_paths": [],
    "debug": 0,
    "debug_period": 5,
    "http_credentials": [
      "test",
      "test"
    ],
    "sms_credentials": [
      "",
      ""
    ],
    "max_alert_day_old": 3
  },
  "arduino": {
    "ip": "192.168.167.100",
    "port": 80,
    "timeout": 5
  },
  "power": {
    "delay_before_reminder": 24
  },
  "alarm": {
    "lunch": "13:00",
    "night": "21:30",
    "delay_before_listening": 60,
    "delay_before_alert": 4
  },
  "lights": {
    "press_delay": 0.5,
    "inactivity_delay": 15
  },
  "tank": {
    "stats_collection_period": 300,
    "flow_check_period": 30,
    "volume_before_pump_out": 500,
    "filter_cleaning_period": 15,
    "filter_cleaning_duration": 3,
    "filter_cleaning_consecutive_delay": 5,
    "pump_in_start_duration": 10,
    "min_flow_in": 14,
    "max_pump_out_running_time": 10,
    "max_duration_without_flow_out": 60,
    "time_to_fill_up": 30,
    "height_between_sensors": 190,
    "low_sensor_height": 13,
    "pump_in_power": 1100,
    "pump_out_power": 1500,
    "urban_network_power": 16,
    "radius": 90
  }
}
