{% set page = 'arduino_error' %}
{% extends "layout.html" %}
{% block title %}Arduino 404{% endblock %}

{% block content %}
<img src="{{ url_for('static', filename='img/arduino_404.png') }}" alt="Fil électrique cassé" />
<h2>
    L'Arduino ne répond pas à cette requête :
</h2>
<pre class="logs">{{ logs }}</pre>
<div class="help">
  Veuillez vous assurer que :
  <ul style="text-align: left; max-width: 400px; margin: 20px auto;">
    <li>L'Arduino est bien allumée.</li>
    <li>Le cable Ethernet est bien connecté à l'Arduino et à la Raspberry. Il peut être nécessaire de le renfoncer.</li>
  </ul>
</div>
{% endblock %}
