{% set page = 'fence' %}
{% extends "layout.html" %}
{% block title %}Clôture{% endblock %}

{% block content %}
{% if state["state"] and state["activated"] %}
    <h2>Clôture allumée</h2>
    {% if state["activated"] %}
      <a href="{{ url_for('fence.command_route', is_on="0") }}">
          <img src="{{ url_for('static', filename='img/fence_on.png') }}" alt="Allumée. Cliquer pour éteindre." />
      </a>
    {% else %}
      <img style="cursor: not-allowed;" src="{{ url_for('static', filename='img/fence_on.png') }}" alt="Allumée. Cliquer pour éteindre." />
    {% endif %}
{% else %}
    <h2>Clôture éteinte</h2>
    {% if state["activated"] %}
      <a href="{{ url_for('fence.command_route', is_on="1") }}">
          <img src="{{ url_for('static', filename='img/fence_off.png') }}" alt="Eteinte. Cliquer pour allumer." />
      </a>
    {% else %}
      <img style="cursor: not-allowed;" src="{{ url_for('static', filename='img/fence_off.png') }}" alt="Eteinte. Cliquer pour allumer." />
    {% endif %}
{% endif %}

<div class="switch-wrapper">
{% if state["activated"] %}
    <a href="{{ url_for('fence.activate_route', activated=0) }}" class="">
        <div class="switch on">
            <span class="btn"></span>
            <span class="text">activée</span>
        </div>
    </a>
{% else %}
    <a href="{{ url_for('fence.activate_route', activated=1) }}" class="">
        <div class="switch off">
            <span class="text">désactivée</span>
            <span class="btn"></span>
        </div>
    </a>
{% endif %}
</div>
{% if not state["activated"] %}
<div style="font-size: 0.7rem; margin: auto; padding: 20px;">
  La clôture est désactivée, son état ne peut être modifié.
</div>
{% endif %}
{% endblock %}
