{% set page = 'orchard_detail' %}
{% extends "layout.html" %}
{% block title %}Verger {{ orchard.name }}{% endblock %}

{% block css %}
<link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css"
     integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY="
     crossorigin=""/>
{% endblock %}

{% block content %}
  <h1>Verger {{ orchard.name }}</h1>

  <form method="POST" action="">
    {{ form.hidden_tag() }}
    {{ form.name.label }} {{ form.name(size=20) }}
    {% for row in form.rows %}
      <fieldset>
        {{ row.lat_start.label }} {{ row.lat_start }}
        {{ row.lng_start.label }} {{ row.lng_start }}
        {{ row.lat_stop.label }} {{ row.lat_stop }}
        {{ row.lng_stop.label }} {{ row.lng_stop }}
      </fieldset>
    {% endfor %}
    <input type="submit" value="Modifier" name="_update">
  </form>

  {% if rows_json %}
    <div style="display: flex; flex-wrap: wrap; gap: 25px; max-width: 1200px; margin: auto; margin-top: 30px;">
      <div id="map" style="flex-grow: 1; max-width: 800px; height: 600px;"></div>
      <div style="text-align: left;">
        <h2>Cartes de préconisation</h2>
        <a href="{{ url_for('orchard.recommendation_map_create_route', pk=orchard.id) }}">+ Ajouter</a>
        <ul>
          {% for map in orchard.recommendation_maps %}
            <li>
              <a href="{{ url_for('orchard.recommendation_map_route', orchard_id=orchard.id, pk=map.id) }}">
                {{ map }}
              </a>
            </li>
          {% endfor %}
        </ul>
      </div>
    </div> 
  {% endif %}

  <form method="POST" action="{{ url_for('orchard.import_points_route', pk=orchard.id) }}" enctype="multipart/form-data" style="margin-top: 40px;">
    {{ form_import_points.hidden_tag() }}
    <div style="margin-bottom: 10px;">
      {{ form_import_points.file.label }}
      {{ form_import_points.file }}
    </div>
    <input type="submit" value="Importer les jalons" name="_import_points">
  </form>
{% endblock %}

{% block js %}
    {% if rows_json %}
    <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"
       integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo="
       crossorigin=""></script>
    <script>
      (function() {
        const rows = {{ rows_json|safe }};
        const map = L.map('map').setView([{{ orchard.lat }}, {{ orchard.lng }}], 18);
        L.tileLayer('https://data.geopf.fr/wmts?service=WMTS&request=GetTile&version=1.0.0&tilematrixset=PM&tilematrix={z}&tilecol={x}&tilerow={y}&layer=ORTHOIMAGERY.ORTHOPHOTOS&format=image/jpeg&style=normal', {
          maxZoom: 19,
        }).addTo(map);

        rows.map((row) => {
          row.trees.map((p) => L.circleMarker(p, {
            radius: 3,
            stroke: false,
            fillColor: 'white',
            fillOpacity: 1,
          }).addTo(map));
        });
      })();
    </script>
  {% endif %}
{% endblock %}
