{% set page = 'orchard_import_points' %}
{% extends "layout.html" %}
{% block title %}Verger {{ orchard.name }}{% endblock %}

{% block css %}
<link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css"
     integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY="
     crossorigin=""/>
{% endblock %}

{% block content %}
  <h1>Verger {{ orchard.name }} : importer les jalons</h1>

  <form method="POST" action="" style="max-width: 800px; height: 600px; margin: auto;">
    {{ form_save.hidden_tag() }}
    <div style="display: flex; gap: 15px; text-align: left; margin-bottom: 20px;">
      <div>
        {{ form_save.distance_between_trees.label }}<br />{{ form_save.distance_between_trees }}
      </div>
      <div>
        {{ form_save.distance_from_trees.label }}<br />{{ form_save.distance_from_trees }}
      </div>
    </div>
    <p style="text-align: left; margin-bottom: 5px;">Associer les extrémités de chaque rang en cliquant sur les jalons :</p>
    <div id="map" style="height: 600px; margin-bottom: 15px;"></div>
    <input type="submit" value="Enregistrer" name="_save">
  </form>

{% endblock %}

{% block js %}
  <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"
     integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo="
     crossorigin=""></script>
  <script>
    (function() {
      const points = {{ latlngs }};
      const pointToMarker = {};
      let mappingLines = [];
      const mapping = {};
      let currentPoint = null;

      const updateInput = () => document.getElementById('mapping').value = JSON.stringify(mapping, null, 2);
      const removeMapping = (key) => {
        if (mapping[key]) {
          mapping[mapping[key]] = null;
        }
        mapping[key] = null;
      };
      const render = () => {
        mappingLines.map((x) => x.remove());
        mappingLines = [];
        Object.entries(pointToMarker).map(([key, marker]) => {
          marker.setStyle({
            fillColor: key === currentPoint ? 'blue' : 'white',
          });
          if (mapping[key]) {
            marker.setStyle({
              fillColor: 'yellow',
            });
            mappingLines.push(L.polyline(
              [marker.getLatLng(), pointToMarker[mapping[key]].getLatLng()],
              {
                fill: false,
                color: 'yellow',
                weight: 2,
              },
            ).addTo(map));
          }
        });
      };

      const map = L.map('map').setView(points[0], 18);
      L.tileLayer('https://data.geopf.fr/wmts?service=WMTS&request=GetTile&version=1.0.0&tilematrixset=PM&tilematrix={z}&tilecol={x}&tilerow={y}&layer=ORTHOIMAGERY.ORTHOPHOTOS&format=image/jpeg&style=normal', {
        maxZoom: 19,
      }).addTo(map);

      points.map((p) => {
        const key = p.join(',');
        mapping[key] = null;

        pointToMarker[key] = L.circleMarker(p, {
          radius: 5,
          stroke: false,
          fillColor: 'white',
          fillOpacity: 1,
        }).addTo(map);

        pointToMarker[key].on('click', (e) => {
          if (currentPoint === null) {
            currentPoint = key;
          } else if (key === currentPoint) {
            currentPoint = null;
          } else {
            removeMapping(currentPoint);
            removeMapping(key);
            mapping[currentPoint] = key;
            mapping[key] = currentPoint;
            currentPoint = null;
            updateInput();
          }
          render();
        });
      });

      updateInput();
    })();
  </script>
{% endblock %}
