{% set page = 'orchard_import_points' %}
{% extends "layout.html" %}
{% block title %}Verger {{ orchard.name }}{% endblock %}

{% block content %}
  <h1><a href="{{ url_for('orchard.detail_route', pk=orchard.id) }}">Verger {{ orchard.name }}</a> : créer une carte de préconisation</h1>

  <form method="POST" action="" style="max-width: 200px; margin: auto;">
    {{ form.hidden_tag() }}
    <div style="display: grid; grid-template-columns: 80px 100px; gap: 10px; text-align: left; margin-bottom: 20px;">
      {% for field in form %}
        {% if field.widget.input_type != "hidden" %}
          {{ field.label }} {{ field }}
        {% endif %}
      {% endfor %}
    </div>
    <input type="submit" value="Créer">
  </form>
{% endblock %}
