body {
    margin: 0;
    padding: 0;
}

header {
    display: flex;
    padding: 25px 50px;
    margin-bottom: 40px;
    font-family: Slabo, Helvetica, Arial, sans-serif;
    text-transform: uppercase;
    font-size: 16px;
    font-weight: bold;
    letter-spacing: 1.2px;
    color: rgb(34, 34, 34);
}

header div {
    vertical-align: top;
}

header a {
    color: #000;
    text-decoration: none;
}

header .nav {
    flex-grow: 1;
    text-align: right;
}

header .nav  ul {
    margin: 0;
    padding: 0;
}

header .nav  ul li {
    display: inline-block;
    list-style-type: none;
    padding: 0;
    margin: 0;
    margin-right: 30px;
}

header .nav  ul li.active {
    border-bottom: 1px solid #000;
}

#content {
    margin-bottom: 20px;
    text-align: center;
}

.arduino-404 h1 {
    font-family: Slabo, Helvetica, Arial, sans-serif;
    text-transform: uppercase;
}

.arduino-404 h1 img {
    vertical-align: middle;
}

.arduino-404 .logs {
    font-family: SFMono-Regular, Consolas, Liberation Mono, Menlo, Courier, monospace;
    display: inline-block;
    margin: auto;
    background: #eee;
    padding: 15px;
    font-weight: bold;
    text-align: left;
    margin-bottom: 5px;
}
