#content {
    margin-bottom: 20px;
    text-align: center;
}

a {
    text-decoration: none;
}

h2 {
    margin-top: 0px;
    margin-bottom: 10px;
}

.group {
    display: inline-block;
    margin-top: 40px;
    margin-right: 30px;
    margin-left: 30px;
}

#light_in1 {
    margin-right: 70px;
}
