body {
    margin: 0;
    padding: 0;
}

h1, h2, h3 {
    font-family: Slabo, Helvetica, Arial, sans-serif;
    text-transform: uppercase;
}

.switch-wrapper {
    font-family: Slabo, Helvetica, Arial, sans-serif;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 20px;
}

.switch-wrapper a {
    text-decoration: none;
}

.switch {
    color: #FFF;
    padding: 5px 10px;
    display: inline-block;
    vertical-align: middle;
    border-radius: 20px;
    margin-left: 5px;
}

.switch .btn {
    vertical-align: top;
    display: inline-block;
    position: relative;
    top: 2px;
    width: 20px;
    height: 20px;
    background: #FFF;
    border-radius: 20px;
}

.switch.on {
    background: #77dd77;
}

.switch.off {
    background: #ff6961;
}

ul.errors {
    margin: 0;
}

ul.errors li {
    list-style-type: none;
}

.errors {
    padding: 10px;
    background: rgba(255,105,97, 0.5);
    border: 1px solid #ff6961;
    display: inline-block;
}

header {
    display: flex;
    padding: 10px 50px;
    margin-bottom: 30px;
    font-family: Slabo, Helvetica, Arial, sans-serif;
    text-transform: uppercase;
    font-size: 16px;
    font-weight: bold;
    letter-spacing: 1.2px;
    color: rgb(34, 34, 34);
    border-bottom: 1px solid #e7edf2;
    box-shadow: 0px -15px 30px 15px rgba(0, 0, 0, 0.08);
}

header .home,
header .nav {
    vertical-align: top;
    padding-top: 10px;
}

header a {
    color: #000;
    text-decoration: none;
}

header .logo {
    margin-right: 15px;
}

header .nav {
    flex-grow: 1;
    text-align: right;
}

header .nav  ul {
    margin: 0;
    padding: 0;
}

header .nav  ul li {
    display: inline-block;
    list-style-type: none;
    padding: 0;
    margin: 0;
    margin-right: 30px;
}

header .nav  ul li.active {
    border-bottom: 1px solid #000;
}

header .help {
    padding-top: 0px;
}

#content {
    margin-bottom: 20px;
    text-align: center;
}

#content.home .alerts h2 img {
    vertical-align: middle;
}

#content.home .alerts h3 {
    margin: 0;
    margin-top: 10px;
}

#content.home .alert-list {
    width: 500px;
    text-align: left;
    margin: auto;
}

#content.home .alert-list .day {
    margin-left: 20px;
}

#content.home .alert-list hr {
    border: 0;
    height: 1px;
    background: #e7edf2;
    background-image: linear-gradient(to right, #fff, #e7edf2, #fff);
}

#content.home .alert-list .row {
    display: flex;
    align-items: center;
}

#content.home .alert-list .row > div {
    padding: 5px;
}

#content.home .alert-list .row .time {
    font-family: courier;
    position: relative;
    top: 1px;
}

#content.home .alert-list .row .message {
    font-size: 14px;
    position: relative;
    bottom: 2px;
}

#content.fence .switch-wrapper {
    font-size: 18px;
    margin-top: 15px;
}

#content.workshop h2 {
    margin: 0;
    margin-bottom: 10px;
}

#content.workshop .sep {
    border-bottom: 1px solid #e7edf2;
    width: 300px;
    margin: 15px auto;
}

#content.workshop .row > div {
    display: inline-block;
    vertical-align: top;
    margin: 20px 30px;
    min-width: 220px;
}

#content.workshop .switch-wrapper {
    font-size: 18px;
    margin-top: 15px;
}

#content.workshop .switch .btn {
    width: 18px;
    height: 18px;
}

#content.tank .stats {
    text-align: left;
    padding-left: 20px;
    font-family: Slabo, Helvetica, Arial, sans-serif;
    font-size: 20px;
}

#content.tank .stats span,
#content.tank .stats img {
    vertical-align: middle;
}

#content.tank .stats img {
    margin-right: 10px;
}

#content.tank .stats a {
    color: black;
    text-decoration: none;
}

#content.tank #schema-wrapper {
    position: relative;
    margin: auto;
    text-align: left;
}

#content.tank svg {
    position: absolute;
}

#content.tank_stats .modebar {
    display: none;
}

#content.tank_stats .config {
    margin-bottom: 20px;    
}

#content.tank_stats .config .styled-select {
    display: inline-block;
    vertical-align: middle;
    overflow: hidden;
    border: 1px solid rgb(233, 233, 233);
    cursor: pointer;
    background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAAUBAMAAAB/pwA+AAAAJFBMVEUAAADi4uLi4uLi4uLi4uLi4uLi4uLi4uLi4uLi4uLi4uLi4uIR/tmHAAAAC3RSTlMAAQIEBgwax8ji9T+dF2UAAAAySURBVAiZY2CgLmBycXFxhjA5du/evUsAzGSdvXv3MqiKyN27EqBM1tnL4BrDExioDQDiPAr8LEKtTwAAAABJRU5ErkJggg==") no-repeat right;
}

#content.tank_stats .config .styled-select.period {
    width: 96px;
}

#content.tank_stats .config .styled-select.timestep {
    width: 120px;
}

#content.tank_stats .config .styled-select.unit {
    width: 75px;
}

#content.tank_stats .config .styled-select select {
    background: transparent;
    padding: 5px;
    padding-right: 18px;
    border: none;
    cursor: pointer;
}

#content.tank_stats .loader {
    margin-left: 25px;
    vertical-align: middle;
}

#content.tank_stats .download {
    margin-left: 25px;
    vertical-align: bottom;
}

#content.tank_stats .wrapper {
    padding: 0 30px;
}

#content.tank_stats .wrapper > div {
    display: inline-block;
    vertical-align: top;
}

#content.tank_stats .wrapper div:nth-child(1) {
    margin-right: 50px;
    width: 65%;
}

#content.tank_stats .wrapper div:nth-child(2) {
    width: 30%;
}

#content.arduino_error h1 img {
    vertical-align: middle;
}

#content.arduino_error .logs {
    font-family: SFMono-Regular, Consolas, Liberation Mono, Menlo, Courier, monospace;
    display: inline-block;
    margin: auto;
    background: #eee;
    padding: 15px;
    font-weight: bold;
    text-align: left;
    margin-bottom: 5px;
}

#content.debug .debug-switch {
    text-align: left;
    padding-left: 20px;
    font-size: 15px;
    margin-bottom: -40px;
}

#content.debug .debug-switch .text {
    position: relative;
    top: 2px;
}

#content.debug .debug-switch .btn {
    top: 0px;
}

#content.debug .sep {
    margin: 20px auto;
    width: 500px;
    border: 0;
    height: 1px;
    background: #e7edf2;
}

#content.debug #controllino > div {
    display: inline-block;
    vertical-align: top;
    width: 400px;
    margin: 0 10px;
}

#content.debug #controllino > div pre {
    text-align: left;
    overflow: auto;
    max-height: 200px;
}

#content.debug #rpi > div {
    display: inline-block;
    vertical-align: top;
    margin: 20px;
}

#content.debug .modebar {
    display: none;
}

#content.config .section {
    margin-bottom: 50px;
}

#content.config table {
    margin: auto;
}

#content.config .field-row td {
    padding-bottom: 10px;
}

#content.config .field-label {
    text-align: right;
    padding-right: 10px;
    max-width: 300px;
}

#content.config .field-input input {
    width: 50px;
    text-align: center;
    padding: 5px;
}

#content.config input[type="submit"] {
    padding: 3px;
    cursor: pointer;
    margin-top: 5px;
}
