{% set page = 'config' %}
{% extends "layout.html" %}
{% block title %}Config - {% endblock %}

{% block content %}
{% if form_errors %}
<div>Il y a des erreurs.</div>
{% endif %}

<form action="{{ url_for('config_route') }}" method="POST">
{% for section, (title, form) in forms.items() %}
<div class="section">
    <h2>{{ title }}</h2>
    <table>
    {% for field in form %}
        {% if field.errors %}
            <ul class="errors">
            {% for error in field.errors %}
                <li>{{ error }}</li>
            {% endfor %}
            </ul>
        {% endif %}
        <tr class="field-row">
            <td class="field-label">{{ field.label }}&nbsp;:</td>
            <td class="field-input">{{ field() }}</td>
        </tr>
    {% endfor %}
    </table>
</div>
{% endfor %}
    <input type="submit" value="Sauvegarder" />
</form>
{% endblock %}
