{% set page = 'debug' %}
{% extends "layout.html" %}
{% block title %}Debug - {% endblock %}

{% block content %}

<div class="switch-wrapper">
<span class="switch-label">Mode Debug :</span>
{% if debug %}
    <a href="{{ url_for('set_debug_route', on=0) }}" class="">
        <div class="switch on">
            <span class="btn"></span>
            <span class="text">oui</span>
        </div>
    </a>
{% else %}
    <a href="{{ url_for('set_debug_route', on=1) }}" class="">
        <div class="switch off">
            <span class="text">non</span>
            <span class="btn"></span>
        </div>
    </a>
{% endif %}
</div>

<h2>État de la Controllino</h2>

<div id="controllino">
{% for component, state in states.items() %}
    <div>
        <h3>{{ component }}</h3>
    <pre>
{{ state }}
    </pre>
    </div>
{% endfor %}
</div>

<h2>État de la Raspberry</h2>
<div id="rpi">
    <div id="rpi_disk_usage" style="margin: 0 30px;"></div>
</div>
{% endblock %}

{% block js %}
<script src="{{ url_for('static', filename='js/plotly-latest.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/debug.js') }}"></script>
<script>
plotRPiDiskUsage({{ rpi["total_disk_space"] }}, {{ rpi["used_disk_space"] }})
</script>
{% endblock %}
