{% set page = 'fence' %}
{% extends "layout.html" %}
{% block title %}Clôture{% endblock %}

{% block content %}
{% if state["state"] %}
    <h2>Clôture allumée</h2>
    <a href="{{ url_for('fence.command', on="0") }}">
        <img src="{{ url_for('static', filename='img/fence_on.png') }}" alt="Allumée. Cliquer pour éteindre." />
    </a>
{% else %}
    <h2>Clôture éteinte</h2>
    <a href="{{ url_for('fence.command', on="1") }}">
        <img src="{{ url_for('static', filename='img/fence_off.png') }}" alt="Eteinte. Cliquer pour allumer." />
    </a>
{% endif %}

<div class="switch-wrapper">
{% if state["activated"] %}
    <a href="{{ url_for('fence.activate', on=0) }}" class="">
        <div class="switch on">
            <span class="btn"></span>
            <span class="text">activée</span>
        </div>
    </a>
{% else %}
    <a href="{{ url_for('fence.activate', on=1) }}" class="">
        <div class="switch off">
            <span class="text">désactivée</span>
            <span class="btn"></span>
        </div>
    </a>
{% endif %}
</div>
{% endblock %}
