{% extends "layout.html" %}
{% block content %}
<div id="fence-wrapper">
    {% if state["state"] == "1" %}
        <h2>Clôture allumée</h2>
        <a href="{{ url_for('fence.activate', on="0") }}">
            <img src="{{ url_for('static', filename='img/fence_on.png') }}" alt="Allumée. Cliquer pour éteindre." />
        </a>
    {% else %}
        <h2>Clôture éteinte</h2>
        <a href="{{ url_for('fence.activate', on="1") }}">
            <img src="{{ url_for('static', filename='img/fence_off.png') }}" alt="Eteinte. Cliquer pour allumer." />
        </a>
    {% endif %}
</div>
{% endblock %}
