{% set page = 'home' %}
{% extends "layout.html" %}

{% block content %}
<div class="quick-access">
    <div>
    {% if fence["state"] %}
        <h2>Clôture allumée</h2>
        <a href="{{ url_for('fence.activate', on="0") }}">
            <img src="{{ url_for('static', filename='img/fence_on_small.png') }}" alt="Allumée. Cliquer pour éteindre." />
        </a>
    {% else %}
        <h2>Clôture éteinte</h2>
        <a href="{{ url_for('fence.activate', on="1") }}">
            <img src="{{ url_for('static', filename='img/fence_off_small.png') }}" alt="Eteinte. Cliquer pour allumer." />
        </a>
    {% endif %}
    </div>
</div>
<div class="alerts">
    <h2>
        <img src="{{ url_for('static', filename='img/alert.png') }}" alt="Alerte" />
        Alertes récentes
    </h2>
    {% if no_alerts %}
        <p>Aucune alerte.</p>
    {% endif %}
    
    <div class="alert-list">
    {% for day, day_alerts in alerts %}
        <h3>{{ day }}</h3>
        <table>
        {% for alert in day_alerts %}
            <tr>
                <td class="name">
                    <img src="{{ url_for('static', filename='img/alerts/' + alert[1] + '.png') }}" alt="{{ alert[1] }}" />
                </td>
                <td class="time">{{ alert[0].strftime("%Hh%M") }}</td>
                <td class="message">{{ alert[2] }}</td>
            </tr>
        {% endfor %}
        </table>
    {% endfor %}
    </div>
</div>
{% endblock %}
