{% set page = 'home' %}
{% extends "layout.html" %}
{% block title %}Accueil{% endblock %}

{% block content %}
<div class="alerts">
    <h2>
        <img src="{{ url_for('static', filename='img/alert.png') }}" alt="Alerte" />
        Alertes récentes
    </h2>
    {% if no_alerts %}
        <p>Aucune alerte.</p>
    {% endif %}
    
    <div class="alert-list">
    {% for day, day_alerts in alerts %}
        <h3>{{ day }}</h3>
        <div class="day">
        {% for alert in day_alerts %}
            <div class="row">
                <div class="name">
                    <img src="{{ url_for('static', filename='img/alerts/' + alert[1] + '.png') }}" alt="{{ alert[1] }}" />
                </div>
                <div class="time">{{ alert[0].strftime("%Hh%M") }}</div>
                <div class="message">{{ alert[2] }}</div>
            </div>
            <hr />
        {% endfor %}
        </div>
    {% endfor %}
    </div>
</div>
{% endblock %}
