{% extends "layout.html" %}
{% block content %}
<div id="loader">
    <img src="{{ url_for('static', filename='img/loader.gif') }}" />
</div>

<div class="group">
    <h2>Clôture</h2>
    <a href="#" id="fence">
        <img src="{{ url_for('static', filename='img/current_off.png') }}" />
    </a>
</div>

<div class="group">
    <h2>Lumière intérieure</h2>
    <a href="#" id="light_in1">
        <img src="{{ url_for('static', filename='img/light_off.png') }}" />
    </a>
    <a href="#" id="light_in2">
        <img src="{{ url_for('static', filename='img/light_off.png') }}" />
    </a>
</div>
    
<div class="group">
    <h2>Lumière extérieure</h2>
    <a href="#" id="light_out">
        <img src="{{ url_for('static', filename='img/light_off.png') }}" />
    </a>
</div>

<div class="group">
    <h2>Alarme</h2>
    <a href="#" id="alarm">
        <img src="{{ url_for('static', filename='img/alarm_off.png') }}" />
    </a>
</div>
{% endblock %}
