{% set page = 'tank' %}
{% extends "layout.html" %}
{% block title %}Eau - {% endblock %}

{% block content %}
<svg id="schema"></svg>

<div>
    Pompe entrée :
    <a href="{{ url_for('tank.pump_in', on=1) }}">On</a> /
    <a href="{{ url_for('tank.pump_in', on=0) }}">Off</a>
</div>

<div>
    Pompe sortie:
    <a href="{{ url_for('tank.pump_out', on=1) }}">On</a> /
    <a href="{{ url_for('tank.pump_out', on=0) }}">Off</a>
</div>

<pre style="text-align: left;">
{
{% for k, v in state.items() %}
    "{{ k }}": {{ v }},
{% endfor %}
}
</pre>
{% endblock %}

{% block js %}
<script src="{{ url_for('static', filename='js/rough.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/tank.js') }}"></script>
<script>
    Tank(document.getElementById("schema"), {
        waterLevel: 0.3,
        flowIn: 30,
        flowOut: 60
    });
</script>
{% endblock %}
