{% set page = 'tank' %}
{% extends "layout.html" %}
{% block title %}Eau - {% endblock %}

{% block content %}
<div class="mode">
    <span class="label">Mode :</span>
    {% if state["manual_mode"] %}
        <a href="{{ url_for('tank.manual_mode', on=0) }}" class="">
            <div class="switch off">
                <span class="btn"></span>
                <span class="text">manuel</span>
            </div>
        </a>
    {% else %}
        <a href="{{ url_for('tank.manual_mode', on=1) }}" class="">
            <div class="switch on">
                <span class="text">auto</span>
                <span class="btn"></span>
            </div>
        </a>
    {% endif %}
</div>

<svg id="schema"></svg>
{% endblock %}

{% block js %}
<script src="{{ url_for('static', filename='js/rough.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/tank.js') }}"></script>
<script>
    Tank(document.getElementById("schema"), {
        waterLevel: {{ water_level }},
        manualMode: {{ state["manual_mode"] }},
        flowIn: {{ state["flow_in"] }},
        flowOut: {{ state["flow_out"] }},
        pumpIn: {{ state["pump_in"] }},
        pumpOut: {{ state["pump_out"] }},
        urbanNetwork: {{ state["urban_network"] }},
        isMotorInBlocked: {{ state["is_motor_in_blocked"] }},
        isMotorOutBlocked: {{ state["is_motor_out_blocked"] }},
        isFilterInBlocked: {{ state["is_filter_in_blocked"] }},
        isOverpressured: {{ state["is_overpressured"] }},
        isTankFull: {{ state["is_tank_full"] }},
        isTankEmpty: {{ state["is_tank_empty"] }},
        timeToWellFull: {{ time_to_well_full }},
    }, {
        pumpInOn: "{{ url_for('tank.pump_in', on=1) }}",
        pumpInOff: "{{ url_for('tank.pump_in', on=0) }}",
        pumpOutOn: "{{ url_for('tank.pump_out', on=1) }}",
        pumpOutOff: "{{ url_for('tank.pump_out', on=0) }}",
        urbanNetworkOff: "{{ url_for('tank.urban_network', on=0) }}",
        urbanNetworkOn: "{{ url_for('tank.urban_network', on=1) }}",
    });
</script>
{% endblock %}
