{% set page = 'tank_stats' %}
{% extends "layout.html" %}
{% block title %}Statistiques - Eau - {% endblock %}

{% block content %}
<h2>Historique de consommation

<select id="period">
    <option value="1">des dernières 24 heures</option>
    <option value="3">des 3 derniers jours</option>
    <option value="7">de la dernière semaine</option>
    <option value="30">du dernier mois</option>
    <option value="90">des 3 derniers mois</option>
    <option value="180">des 6 derniers mois</option>
    <option value="365">de la dernière année</option>
    <option value="730">des 2 dernières années</option>
</select>
</h2>

<div id="history_wrapper">
    <div id="history_time_plot"></div>
    <div id="history_stats_plot"></div>
</div>
{% endblock %}

{% block js %}
<script>
var CONSUMPTION_URL = "{{ url_for('tank.consumption_data') }}";
</script>

<script src="{{ url_for('static', filename='js/plotly-latest.min.js') }}"></script>

<script src="{{ url_for('static', filename='js/tank-stats.js') }}"></script>
{% endblock %}
