{% extends "layout.html" %}
{% block content %}
<div id="workshop-wrapper">
    <div class="alarm">
        <div>
        {% if alarm["listen"] == "1" %}
            <h2>Alarme en écoute</h2>
            <a href="{{ url_for('alarm.listen', on="0") }}">
                <img src="{{ url_for('static', filename='img/alarm_listen_on.png') }}" alt="Alarme en écoute. Cliquer pour désactiver." />
            </a>
        {% else %}
            <h2>Alarme désactivée</h2>
            <a href="{{ url_for('alarm.listen', on="1") }}">
                <img src="{{ url_for('static', filename='img/alarm_listen_off.png') }}" alt="Alarme désactivée. Cliquer pour activer." />
            </a>
        {% endif %}
        </div>
        <div>
        {% if alarm["breach"] == "1" %}
            <h2>Intrusion détectée !</h2>
            <img src="{{ url_for('static', filename='img/alarm_breach_on.png') }}" alt="Intrusion détectée !" />
        {% else %}
            <h2>Pas d'intrusion</h2>
        {% endif %}
        </div>
    </div>

    <div class="sep"></div>

    <div class="lights">
        <div>
        {% if lights["0"] == "1" %}
            <h2>Extérieur</h2>
            <a href="{{ url_for('lights.activate', n=0, on="0") }}">
                <img src="{{ url_for('static', filename='img/light_on.png') }}" alt="Extérieur allumé. Cliquer pour éteindre." />
            </a>
        {% else %}
            <h2>Extérieur</h2>
            <a href="{{ url_for('lights.activate', n=0, on="1") }}">
                <img src="{{ url_for('static', filename='img/light_off.png') }}" alt="Extérieur éteint. Cliquer pour allumer." />
            </a>
        {% endif %}
        </div>
        <div>
        {% if lights["1"] == "1" %}
            <h2>Intérieur 1</h2>
            <a href="{{ url_for('lights.activate', n=1, on="0") }}">
                <img src="{{ url_for('static', filename='img/light_on.png') }}" alt="Intérieur 1 allumé. Cliquer pour éteindre." />
            </a>
        {% else %}
            <h2>Intérieur 1</h2>
            <a href="{{ url_for('lights.activate', n=1, on="1") }}">
                <img src="{{ url_for('static', filename='img/light_off.png') }}" alt="Intérieur 1 éteint. Cliquer pour allumer." />
            </a>
        {% endif %}
        </div>
        <div>
        {% if lights["2"] == "1" %}
            <h2>Intérieur 2</h2>
            <a href="{{ url_for('lights.activate', n=2, on="0") }}">
                <img src="{{ url_for('static', filename='img/light_on.png') }}" alt="Intérieur 2 allumé. Cliquer pour éteindre." />
            </a>
        {% else %}
            <h2>Intérieur 2</h2>
            <a href="{{ url_for('lights.activate', n=2, on="1") }}">
                <img src="{{ url_for('static', filename='img/light_off.png') }}" alt="Intérieur 2 éteint. Cliquer pour allumer." />
            </a>
        {% endif %}
        </div>
    </div>

    <h1>TODO: config lunch, night, inactivity, alarm delay</h1>
</div>
{% endblock %}
